<head>
  <title>Milestones</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,700,900' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
</head>
