<template name="thoughts_by_day">
  {{#with day}}
    <h1>{{this}}</h1>
    <hr>
    <h5>Schedule</h5>
    <ul data-thought-type="event">
      {{#sortable sortField="created_at" items=events options=sortEventsOptions }}
        <li><i class="fa fa-bars"></i> {{content}} ({{type}}) <i class="fa fa-trash remove-thought"></i></li>
      {{/sortable}}
    </ul>
    <hr>
    <h5>Tasks</h5>
    <ul data-thought-type="task">
      {{#sortable sortField="created_at" items=tasks options=sortTasksOptions }}
        <li class="{{#if is_completed}}completed-task{{/if}}">
          <span>
            <i class="fa fa-bars"></i>
            <i class="fa fa-check-square {{#if is_completed}}uncomplete-thought{{else}}complete-thought{{/if}}"></i>
          </span>
          {{content}}
          <i class="fa fa-trash remove-thought"></i>
        </li>
      {{/sortable}}
    </ul>
    <hr>
    <h5>Thoughts</h5>
    <ul data-thought-type="thought">
      {{#sortable sortField="created_at" items=thoughts options=sortThoughtsOptions }}
        <li><i class="fa fa-bars"></i> {{content}} ({{type}}) <i class="fa fa-trash remove-thought"></i></li>
      {{/sortable}}
    </ul>
    <hr>
    <div id="error-message"></div>
    <form class="add-thought-form">
      <input class="add-thought-input" name="add_thought_input" type="text" placeholder="type a thought" />
      <input type="radio" class="add-thought-type" name="add_thought_type" value="0" checked /> Thought
      <input type="radio" class="add-thought-type" name="add_thought_type" value="1" /> Task
      <input type="radio" class="add-thought-type" name="add_thought_type" value="2" /> Event
      <input type="submit" value="Add thought" />
    </form>
  {{/with}}
</template>
